---
layout: blank
permalink: /
---

{% if paginator.posts %}
    {% for page in paginator.posts %}
    <article>
      <header>
        <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} {% if page.draft %} <div class="draft"></div>{% endif %}</a></h2>
        <p>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories %} • {{ page.categories | array_to_sentence_string }}{% endif %}</p>
      </header>
      <div>

        {% if page.content contains '<!--break-->' %}
          {{ page.content | split:'<!--break-->' | first }}
        {% else %}
          {{ page.content | truncatewords: 300 }}
        {% endif %}

        <!--{{ page.excerpt }} -->
        
      </div>
      <footer>
        <p><a href="{{ page.url | prepend: site.baseurl }}">{{ site.more }} &raquo;</a></p>
      </footer>
    </article>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <footer id="paginate">
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">« newer posts</a>{% else %}<span>« newer posts</span>{% endif %}
        <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">older posts »</a>{% else %}<span>older posts »</span>{% endif %}
    </footer>
    {% endif %}
{% else %}

  <article>

    <header>
      <!--<h2>Blog post coming soon!</h2>
      <small style="font-size:small;">Maybe a month or two...</small>
    -->

    <script>

      (function() {
        var quates = [
            "<h2>First blog post is comming soon!</h2> <small style='font-size:small;'>Maybe a month or two... </small>",
            "<h2>Welcome to void*</h2>",
            "<h2>0<span style='text-transform:none;'>x</span>"+(Math.abs(Math.random()*0xFFFFFFFF<<1)).toString(16)+"</h2>"
          ];
        var result = "";

        function getIndex (length) {
          var index = 0;
          for(var i = 0; i < 3; i++)
          {
            index = Math.floor((Math.random() * length));

            if(index === 0)
            {
              break;
            }
          }

          return index;
        }

        var index = getIndex(quates.length);

        result = quates[index];
        document.write(result);

      })();

    </script>

    </header>
  </article>

{% endif %}
