---
---

@import basic
@import mixins

$body: {% if site.style.body %}{{ site.style.body }}{% else %}white{% endif %}
$padding: {% if site.style.padding %}{{ site.style.padding }}{% else %}33%{% endif %}
$anchor: {% if site.style.anchor %}{{ site.style.anchor }}{% else %}false{% endif %}
$nav: {% if site.style.nav %}{{ site.style.nav }}{% else %}#181818{% endif %}
$headline: {% if site.style.headline %}{{ site.style.headline }}{% else %}#06f{% endif %}
$description: {% if site.style.description %}{{ site.style.description }}{% else %}white{% endif %}
$odd: {% if site.style.article.odd %}{{ site.style.article.odd }}{% else %}white{% endif %}
$even: {% if site.style.article.even %}{{ site.style.article.even }}{% else %}#222{% endif %}

$article-alpha: {% if site.style.article.image-alpha %}{{ site.style.article.image-alpha }}{% else %}1.0{% endif %}

$accent-color: {% if site.style.accent-color %}{{site.style.accent-color}}{% else %}#F80D62{% endif %}

// Viewport widths
$viewport-small: 32em
$viewport-medium: 48em
$viewport-large: 64em

body
    +body_background($body, $padding)

    > header, > footer
        background: $nav
        color: reduce($nav, 100%)
    > div
        background: $description
        color: reduce($description, 100%)

{% if site.style.serif-heading %}

body > header h1
    font-weight: bold

h1, h2, h3, h4, h5, h6
    font-family: "Gentium Basic", serif
    letter-spacing: 2px
    header &
        text-transform: uppercase

{% endif %}

{% if site.style.headline %}

body > div:first-of-type
    background: $headline
    color: reduce($headline, 100%)
    h1
        padding-top: 1em
        padding-bottom: 1em

nav ul
    margin: 0

{% endif %}

article:nth-of-type(even)
    +article_background($even, $anchor, $odd)

article:nth-of-type(odd)
    +article_background($odd, $anchor, $even)

article:first-of-type:nth-of-type(odd)
    +article_background($odd, $anchor, $even)
    background-attachment: fixed
    background-size: cover

article:nth-of-type(even).background
    background: linear-gradient( rgba($even, $article-alpha), rgba($even, $article-alpha)), url("img/article.jpg")
    background-attachment: fixed
    background-size: cover

article:nth-of-type(odd).background
    background: linear-gradient( rgba($odd, $article-alpha), rgba($odd, $article-alpha)), url("img/article.jpg")
    background-attachment: fixed
    background-size: cover

article.image
    background: url("img/article.jpg")
    padding: 0px
    display:inline-block
    background-attachment: fixed
    background-size: cover
    > div
        padding: 1em calc(#{$padding} - 6.6em)
        margin-bottom: 0px
        display:inline-block
        background-attachment: fixed
        background-size: cover

article:nth-of-type(odd).image
    div.overlay
        background: linear-gradient( rgba($odd, $article-alpha), rgba($odd, $article-alpha))

article:nth-of-type(even).image
    div.overlay
        background: linear-gradient( rgba($even, $article-alpha), rgba($even, $article-alpha))

.article-alpha
    opacity: $article-alpha

@media screen and (max-width: $viewport-small)

    body > *
        padding-right: 0.6rem
        padding-left: 0.6rem

    //article
        //padding-right: calc(#{$padding} / 2.125 - 3.3em)
        //padding-left: calc(#{$padding} / 2.125 - 3.3em)

#paginate:nth-child(even)
    background: $even
    color: reduce($even, 100%)

#paginate:nth-child(odd)
    background: $odd
    color: reduce($odd, 100%)

.icon
    width: 150px
    height: auto
    padding-right: 1.5em
    margin-bottom: 0px
    float: left
    display: inline-block

article.portfolio
    div blockquote
        display: inline-block

    div.info
        display: inline-block

        @media screen and (max-width: $viewport-medium)
            margin-bottom: 3.5em
    th, td
        border-color: rgba(0, 0, 0, 0)

    tr:hover
        background-color: rgba(0, 0, 0, 0)

header.nav-header
    #background: #3C3C65
    display: table-cell
    padding-bottom: 0px
    padding-top: 0px
    width: 100%

header.logo-header
    padding: 0px
    background: linear-gradient( rgba($even, 0.5), rgba($even, 0.5)), url("img/header.jpg")
    background-attachment: scroll
    background-size: cover
    background-position: 50% 75%
    height: 15em
    //padding-bottom: 10em

    //&.main
        //background-position: bottom
        padding-bottom: 20em

    h1.logo
        //background: $accent-color
        display: table-cell
        padding: 0.3em
        padding-left: 0.15em
        padding-right: 0.15em
        text-align: center
        vertical-align: middle

        a:hover
            color: lighten($even, 20%)
            //color: darken($accent-color, 25%)
    #title
        position: relative
        top: 2em
        text-align: center

        & >*
            margin: 0px

a#selected
    padding-bottom: 0.9em
    //border-bottom: 0.25em solid $accent-color
    border-bottom: 0.25em solid lighten($even, 27.5%)

figure.highlight
    margin: 0px
    padding: 0px

@import vendor
@import highlight
